

.lInput {
    width: 100%;
    height: 40px;
    padding: 8px;
    margin: 8px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    transition: border-color 0.2s;
}

.lButton{
    border: none;
    padding: 10px 20px;
    background-color: #0071c2;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.lButton:disabled{
    background-color: #0071c28c;
    display: flex;
    margin: auto;
    cursor: not-allowed;
    align-items: center;

}

.login {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}